body{
    font-family:sans-serif;
    background-color:#e0be9a;
}
.logo img{
    width:100px;
    height:100px;
    margin-left:20px;
}
.menu li{
    list-style:none;
    position:relative;
    display:inline-block;
}