body{
    font-family:sans-serif;
    background-color:#e0be9a;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    display: block;
    margin-bottom:10px;
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px;
    border-radius: 8px;
}
input[type="submit"]{
    background-color: white;
    color: #C74201;
    padding: 10px 20px;
    border: 2px solid #C74201;
    border-radius: 20px;
}
input[type="submit"]:hover{
    background-color: #C74201;
    color: white;
}
.btn-register{
    background-color: white;
    color: #C74201;
    padding: 10px 20px;
    border: 2px solid #C74201;
    border-radius: 20px;
}
.btn-register:hover{
    background-color: #C74201;
    color: white;
}
.btn-back-login{
    background-color: white;
    color: #C74201;
    padding: 10px 20px;
    border: 2px solid #C74201;
    border-radius: 20px;
    margin-top:20px;
}
.btn-back-login:hover{
    background-color: #C74201;
    color: white;
}