body{
    font-family:sans-serif;
    background-color:#e0be9a;
}
header{
    padding: 10px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo img{
    width:100px;
    height:100px;
    margin-left:20px;
}
nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li{
    margin-left:15px;
    display:inline-block;
}
nav ul li a{
    color:black;
    text-decoration:none;
    padding:15px;
}
nav ul li a:hover{
    color:#282A2A;
}
.logout{
    border:1px solid black;
}
.logout:hover{
    color:white;
    background:black;
}
.content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    //border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    margin-top: 0;
    text-align:center;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
label.radio-label {
    display: inline-block;
    vertical-align: middle;
}
button[type="submit"] {
    padding: 10px 20px;
    margin-left:140px;
    background-color: white;
    color: #C74201;
    border: 2px solid #C74201;
    border-radius: 20px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #C74201;
    color: white;
}